body {
    margin: 1%;
    padding: 1%;
    background: url(cielo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
 
h3 {
    margin: 20px;
    text-decoration-color: black;
}

img    {
    width: 700px;
    height: auto;
}

  